::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInText {
  animation: fadeIn 2s ease-in-out;
}

.carousel>div>a {
  bottom: 10%;
}

.caption {
  height: 70%;
}

.caption>h3 {
  font-size: 4rem;
  font-weight: 900;
}

.caption>p {
  margin-bottom: 10%;
  font-weight: 600;
  font-size: 2rem;
}

.myButtonCaption {
  margin-bottom: 10%;
  padding: 0.5rem !important;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  background-color: #e9262c;
  border: none;
  width: 20%;
  cursor: pointer;
  transition: 0.3s;
}

.myButtonCaption:hover {
  color: #fff;
  transform: scale(1.05);
}

@media screen and (max-width: 1199px) {
  .caption {
    padding-top: 0;
    height: 80%;
  }

  .caption>h3 {
    font-size: 2rem;
  }

  .caption>p {
    font-size: 1rem;
  }

  .myButtonCaption {
    font-size: 1.5rem;
    width: 30%;
    height: 15%;
    margin-bottom: 20%;

  }
}

@media screen and (max-width: 700px) {
  .caption {
    padding-top: 0;
    height: 80%;
  }

  .caption>h3 {
    font-size: 1.5rem;
  }

  .caption>p {
    font-size: 1rem;
  }

  .myButtonCaption {
    font-size: 0.6rem;
    width: 30%;
    height: 17.5%;
    margin-top: 0;
  }
}