/* Navbar.module.css */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 15vh;
  width: 100vw;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90%;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 13vh;
}

.logoText {
  font-size: 2rem;
  font-weight: 700;
  color: #e9262c;
  margin-left: 1rem;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLink {
  color: #091f2c;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbarLink a {
  color: #091f2c;
}

.navbarLink div {
  border-radius: 0;
}

.donateButton {
  background-color: #091f2c;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem 2rem !important;
}

.donateButton:hover {
  color: #fff;
  transform: scale(1.05);
}

.navbar-toggler,
.navbarToggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu.show {
  border-radius: 0;
}

@media screen and (max-width: 1199px) {
  .navbar {
    height: 10vh;
  }

  .logoText {
    font-size: 1.5rem;
  }

  .logoImg {
    height: 10vh;
  }

  .navbarLink {
    font-size: 1rem;
  }

  .donateButton {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    height: auto;
    width: 100%;
  }

  .navbarLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbarLink {
    width: fit-content;
    text-align: center;
    margin: 0.5rem 0;
  }

  .donateButton {
    margin: 1rem 0;
  }

  .logoText {
    font-size: 1.5rem;
  }

  .logoImg {
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .logoText {
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 600px) {
  .navbar {
    height: 12vh;
  }

  .logoImg {
    height: 10vh;
  }

  .logoText {
    font-size: 1.8rem;
  }

  .navbarLink {
    font-size: 1rem;
  }

  .donateButton {
    font-size: 1rem;
    padding: 0.8rem 1.5rem !important;
  }
}

@media screen and (max-height: 600px) {
  .navbar {
    height: 10vh;
  }

  .logoImg {
    height: 8vh;
  }

  .logoText {
    font-size: 1.5rem;
  }

  .navbarLink {
    font-size: 0.9rem;
  }

  .donateButton {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem !important;
  }
}

@media screen and (max-height: 400px) {
  .navbar {
    height: 8vh;
  }

  .logoImg {
    height: 6vh;
  }

  .logoText {
    font-size: 1.2rem;
  }

  .navbarLink {
    font-size: 0.8rem;
  }

  .donateButton {
    font-size: 0.8rem;
    padding: 0.5rem 1rem !important;
  }
}